# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
articles/1990/
articles/1991/
articles/1992/
articles/1993/
articles/1994/
articles/1995/
articles/1996/
articles/1997/
articles/1998/
articles/1999/
articles/2017/

articles\.sqlite3
